@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body {
  background: #fefefe;
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  margin: 0;
  font-weight: bold;
}
button {
  appearance: none;
  background: transparent;
  text-transform: none;
  border: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
img {
  max-width: 100%;
}
aside {
  display: block;
  margin: 0;
}
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
footer {
  display: block;
  margin: 0;
}
